/*

!/.gitignore

!/disabled_plugins.txt

!/codestyles
!/colors
!/keymaps
!/options

!/resharper-host
/resharper-host/*
!/resharper-host/GlobalSettingsStorage.DotSettings

/options/keymap.xml
/options/updates.xml
/options/usage.statistics.xml
/options/recentSolutions.xml
/options/recentSolutionsConfiguration.xml
/options/projectTemplateCache.xml
/options/profiling.configurations.xml
/options/dimensions.xml
/options/images.support.xml
/options/riderVersions.xml
/options/completion.factors.user.xml
/options/runner.layout.xml
/options/actionSummary.xml

.DS_Store
